* {
    margin: 0px;
    padding: 0px;
}

body {
    padding: 2.22619rem 1rem 11.52381rem 1rem;
}

.left_side {
    display: none;
}

.head {
    order: 1;
    justify-content: center;
    margin-top: 3.88rem;
}

.right_side > p {
    margin-top: 0;
}

.input {
    margin-top: 1.5rem;
    gap: 0.75rem;
}

.col-1 label {
    display: none;
}

.forget a p {
    color: #8053FF;
}

.submit a input[type=submit] {
    margin-top: 1.5rem;
}

.line {
    margin-top: 1.5rem;
}

.google_sign > button {
    margin-top: 1.5rem;
}

.sign_up {
    margin-top: 1.5rem;
}

.footer {
    order: 2;
    margin-top: 3.88rem;
}
